.active,
.btn:hover {
  background-color: rgb(112, 110, 110);
  color: white!important;
}

.btn {
 border-radius: 20px;
 color: blue !important;
 padding: 0px;
 padding:7px;
}
.active {
  color: white !important;
}